body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

h1 {
    font-size: 47px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    max-width: 437px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #fff1c7;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 298px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #ffeaa1;
}

.error-msg {
    color: red;
    margin-top: 10px;
}

.success-msg {
    color: lightgreen;
    margin-top: 10px;
}
